/**BODY PROPERTIES**/

body {
    background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
}


/**FACES USED ON WEBSITE**/

@font-face {
    font-family: 'space_light';
    src: url('../fonts/space_light.otf');
}

@font-face {
    font-family: 'space_bold';
    src: url('../fonts/space_bold.otf');
}

@font-face {
    font-family: 'space_regular';
    src: url('../fonts/space_regular.otf');
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto_regular.ttf');
}
}
/**H1 PROPERTIES**/

h1 {
    top: 0%;
    left: 0%;
    margin: 10px 0 0 10px;
    transform: translate(0%, 0%);
    position: absolute;
    z-index: 50;
}

h1 img {
    width: 30vh;
    height: 6vh;
}


/**NAV PROPERTIES**/

nav {
    width: 42vh;
    height: 8vh;
    position: absolute;
    top: 0%;
    left: 50%;
    margin: 7vh 0 0;
    transform: translate(-50%, 0%);
    z-index: 60;
}



/**A PROPERTIES**/

a {
    font-family: 'space_regular';
    text-align: center;
    font-size: 1.8vh;
    text-decoration: none;
}



/* MENU */

.menu {
        width: 100vh;
}

.menu li {
  display: inline-block;
    color: whitesmoke;
    border: solid 2px #284156;
    box-shadow: 0 0 15px #284156,  0 0 25px #284156 inset;
    padding: 4px;
  margin: 0 1vh 0 1vh;
}

/**


CONTAINER PART


**/


/**SOLAR SYSTEM PROPERTIES**/

.solarSystem {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

.circleBlur2 {
    overflow: hidden;
    background-color: #284156;
    height: 300px;
    width: 400px;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: 275px;
    border-radius: 50%;
    box-shadow: 0 0 50px #284156;
    filter: blur(60px);
    position: absolute;
    opacity: 0.05;
    z-index: 1;
}

.starCanvas {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.cross {
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    opacity: 0.03;
    position: absolute;
    z-index: 1;
}


/**
SUN CSS PART
**/


/**SUNON PROPERTY**/

.sunOn {
    transition: opacity 1s ease-in-out 1s;
}


/**SUNOFF PROPERTY**/

.sunOff {
    transition: opacity 1s ease-in-out;
}


/**SUN PROPERTIES**/

.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #fff000 0%, #fcd440 50%, #fcd440 20%, #e06317 100%);
  box-shadow: 0 0 8px 1px rgba(255, 100, 0, 0.6), 0 0 24px 10px rgba(255, 203, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -50px;
  position: absolute;
  z-index: 5;
}



/**
EARTH CSS PART
**/
.earthPart, .moonPart, .marsPart{
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0%;
  transform: translate(0%,0%);
  height: 100vh;
}

.earthPart img, .moonPart img, .marsPart img{
  width: 100%;
  height: 100vh;
}





.initialPlanets{
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  z-index: 10;
}

/**EARTHON PROPERTY**/
.earthOn {
  transition: opacity 1s ease-in-out 1s;
}


/**EARTHOFF PROPERTY**/
.earthOff {
  transition: opacity 1s ease-in-out;
}


/**EARTH CIRCLE PROPERTIES**/

.earthCircle{
width: 270px;
  height: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0);
  border: 3px solid #006064;
  filter: blur(12px);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.earth{
  width: 270px;
  height: 270px;
  top: 50%;
  margin-top: -135px;
  left: 50%;
  margin-left: -138px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  animation: rotation 10s linear infinite;
  will-change: transform;
}

/**MOON CREATION PROPERTIES**/
.earth:before{
  margin-top: 10px;
  content: url('../images/mini_moon.png');
  position: absolute;
  z-index:29;
  transform-origin: 60px;
  animation: rotation 6s linear infinite;
  will-change: transform;
}

/**EARTH CREATION PROPERTIES**/
.earth:after{
  margin-left: 37px;
  content:url('../images/mini_earth.png');
  position: absolute;
  z-index: 6;

}


/**
MARS CSS PART
**/

/**MARSON PROPERTY*/
.marsOn {
  transition: opacity 1s ease-in-out 1s;
}

/**MARSOFF PROPERTY*/
.marsOff {
  transition: opacity 1s ease-in-out;
}

/**MARS CIRCLE PROPERTIES*/

.marsCircle{
  width: 550px;
  height: 550px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -275px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #006064;
  filter: blur(12px);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

.mars{
  width: 550px;
  height: 550px;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -275px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  animation: rotation 25s linear infinite;
  will-change: transform;
}

/**MARS CREATION PROPERTIES**/
.mars:after{
  margin-left: 175px;
  content:url('../images/mini_mars.png');
  position: absolute;
  z-index: 6;

}


/**ALLOW TO HIDE CONTENT**/

.changeOpacity {
    opacity: 0;
}


/**ROTATION ANIMATION**/

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


/**
EARTHSECTION CSS PART
**/


/**EARTHSECTIONON PROPERTY*/

.earthSectionOn {
    transition: opacity 1s ease-in-out 1s;
}


/**EARTHSECTIONOFF PROPERTY*/

.earthSectionOff {
    transition: opacity 1s ease-in-out;
}


/**EARTHSECTION PROPERTIES**/

.earthSection {
    overflow: hidden;
    background-color: #22313F;
    height: 350px;
    width: 350px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -175px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00C7FF;
    filter: blur(0.75px);
    position: absolute;
    z-index: 20;
}


/**GROWEARTH MAP PROPERTIES**/

.growEarth {
    background: url('../images/earth_map.svg') repeat-x;
    width: 258%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    animation: slide 20s linear infinite;
    will-change: transform;
}


/**
MOONSECTION CSS PART
**/


/**MOONSECTIONON PROPERTY*/

.moonSectionOn {
    transition: opacity 1s ease-in-out 1s;
}


/**MOONSECTIONOFF PROPERTY*/

.moonSectionOff {
    transition: opacity 1s ease-in-out;
}


/**MOONSECTION PROPERTIES**/

.moonSection {
    overflow: hidden;
    height: 130px;
    width: 130px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: 160px;
    border-radius: 50%;
    box-shadow: 0 0 50px whitesmoke;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**GROWMOON MAP PROPERTIES**/

.growMoon {
    background: url('../images/moon_map.svg') repeat-x;
    width: 258%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    animation: slide 20s linear infinite;
    will-change: transform;
}

.growEarthMoon {
    background: url('../images/earth_map.svg') repeat-x;
    width: 258%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    animation: slide 20s linear infinite;
    will-change: transform;
}

.earthSectionMoon {
    overflow: hidden;
    height: 250px;
    width: 250px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -340px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00C7FF;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**
MARSSECTION CSS PART
**/


/**MARSSECTIONON PROPERTY*/

.marsSectionOn {
    transition: opacity 1s ease-in-out 1s;
}


/**MARSSECTIONOFF PROPERTY*/

.marsSectionOff {
    transition: opacity 1s ease-in-out;
}


/**MARSSECTION PROPERTIES**/

.marsSection {
    overflow: hidden;
    height: 150px;
    width: 150px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: 130px;
    border-radius: 50%;
    box-shadow: 0 0 50px coral;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**GROWMARS MAP PROPERTIES**/

.growMars {
    background: url('../images/mars_map.svg') repeat-x;
    width: 258%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 9;
    animation: slide 20s linear infinite;
    will-change: transform;
}

.earthSectionMars {
    overflow: hidden;
    height: 250px;
    width: 250px;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -340px;
    border-radius: 50%;
    box-shadow: 0 0 50px #00C7FF;
    filter: blur(0.75px);
    position: absolute;
    z-index: 8;
}


/**ALLOW THE MAPS TO SLIDE**/

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.earthRocketLaunched {
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -156px;
    left: 50%;
    margin-left: 53px;
    position: absolute;
    z-index: 12;
    transform-origin: 180px;
    animation: earthRocketMove 15s linear infinite;
    will-change: transform;
}

@keyframes earthRocketMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    60% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    80% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.moonRocketLaunched {
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 12;
    transform-origin: 140px;
    animation: moonRocketMove 20s linear infinite;
    will-change: transform;
}

@keyframes moonRocketMove {
    0% {
        opacity: 0;
        transform: translate(-300px, -20px) rotate(75deg);
    }
    20% {
        opacity: 1;
        transform: translate(90px, -140px) rotate(65deg);
    }
    50% {
        opacity: 1;
        transform: translate(90px, -140px) rotate(360deg);
    }
    75% {
        opacity: 1;
        transform: translate(90px, -140px) rotate(640deg);
    }
    100% {
        opacity: 0;
        transform: translate(-380px, -240px) rotate(640deg);
    }
}

.marsRocketLaunched {
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -156px;
    left: 50%;
    margin-left: 53px;
    position: absolute;
    z-index: 12;
    animation: marsRocketMove 20s linear infinite;
    will-change: transform;
}

@keyframes marsRocketMove {
    0% {
        transform: translate(-250px, 100px) rotate(80deg);
    }
    45% {
        transform: translate(170px, 30px) rotate(80deg);
    }
    50% {
        transform: translate(120px, 30px) rotate(260deg);
    }
    55% {
        transform: translate(120px, 30px) rotate(260deg);
    }
    90% {
        transform: translate(-250px, 100px) rotate(260deg);
    }
    100% {
        transform: translate(-250px, 100px) rotate(80deg);
    }
}

.rocketOn {
    transition: opacity 2s ease-in-out 4s;
}


/**MARSOFF PROPERTY*/

.rocketOff {
    transition: opacity 1s ease-in-out;
}

.logo .spaceX {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 500px;
}


/***** CONTAIN EARTH *****/

.containEarth {
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 30;
}

.containEarth h2 {
    color: #30769E;
    text-transform: uppercase;
    text-shadow: 0 0 1px #7dc7EE;
    margin: 3vh 0 3vh 0;
}

.containEarth p {
    color: #30769E;
}


/******************************\
          
      INFOS SECTION EARTH

/*******************************/

.containEarth .infos-section {
    width: 25vh;
    height: 26vh;
    top: 50%;
    left: 0%;
    margin-left: 10vh;
    transform: translate(0%, -50%);
    position: absolute;
    z-index: 40;
}

.containEarth .infos-section .background {
    width: 58vh;
    top: -16vh;
    left: -16vh;
    position: absolute;
    z-index: 40;
}

.containEarth .infos-section .title {
    font-family: 'space_light', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.containEarth .infos-section .description-earth {
    font-family: 'roboto_regular', sans-serif;
    font-size: 1.3vh;
    line-height: 2vh;
    width: 27vh;
}


/**********************\

     EARTH SECTION

/**********************/

.containEarth .planet-earth {
    width: 40vh;
    height: 40vh;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 25px 10px #182d52 inset, 0 0 50px #182d52;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;
}


/*** EARTH PLANISPHERE ***/

.containEarth .planet-earth .planet {
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/earth.png') repeat-x;
    background-size: 52%;
    position: absolute;
    z-index: 4;
    animation: slide 20s linear infinite;
    will-change: transform;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-52%);
    }
}


/*** EARTH EFFECT DIV BEHIND THE PLANET ***/

.containEarth .planet-earth .planet-for-effect {
    width: 248%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Earth-inverse.png') repeat-x;
    background-size: 52%;
    filter: blur(3px);
    opacity: 0.75;
    position: absolute;
    z-index: 4;
    animation: slideEffect 20s linear infinite;
    will-change: transform;
}

@keyframes slideEffect {
    from {
        transform: translateX(-52%);
    }
    to {
        transform: translateX(0);
    }
}

.containEarth .earthPart {}


/*******************************\

    ACTIONS SECTION EARTH

/********************************/

.containEarth .action-section {
    width: 32vh;
    height: 10vh;
    top: 100%;
    left: 50%;
    position: absolute;
    z-index: 40;
    transform: translate(-50%, -100%);
}

.containEarth .action-section a {
    display: inline-block;
}

.containEarth .action-section h2 {
    display: inline-block;
    font-family: 'space_regular', sans-serif;
    font-size: 3vh;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
    margin: -1vh 0 0 0vh;
}

.leftChevron {
    width: 100px;
    margin-left: -15vh;
    margin-top: -1vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
}

.rightChevron {
    width: 100px;
    margin-left: 15vh;
    margin-top: -1vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
}

.containEarth .action-section .planet-name {
    top: 50%;
    left: 50%;
    margin-top: -1vh;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
}

.containEarth .action-section .next {
    margin-left: 25%;
}


/*****************************\

      TEXTS SECTION EARTH

/******************************/

.containEarth .texts-section-earth {
    max-height: 100vh;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    position: absolute;
    z-index: 40;
}

.containEarth .title-section {
    font-family: 'space_light', sans-serif;
    font-size: 2vh;
}

.containEarth .texts-section-earth p {
    font-family: 'roboto_regular', sans-serif;
    font-size: 1.7vh;
    line-height: 22px;
    width: 32vh;
}

.containEarth .texts-section-earth .chevron-description-earth {
    width: 5vh;
    margin-top: 1.2vh;
    position: absolute;
    z-index: 40;
}

.containEarth .mission-section-earth .title-section .mission {
    display: inline-block;
}

.containEarth .rocket-section-earth .title-section .mission {
    display: inline-block;
}

.containEarth .datas-section-earth .title-section .mission {
    display: inline-block;
}


/***** CONTAIN MOON *****/

.containMoon {
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 40;
}

.containMoon h2 {
    color: #DFDFDF;
    text-transform: uppercase;
    text-shadow: 0 0 1px #A2A2A2;
    margin: 3vh 0 3vh 0;
}

.containMoon p {
    color: #DFDFDF;
}


/******************************\
          
      INFOS SECTION MOON

/*******************************/

.containMoon .infos-section {
    width: 25vh;
    height: 26vh;
    top: 50%;
    left: 0%;
    margin-left: 10vh;
    transform: translate(0%, -50%);
    position: absolute;
    z-index: 40;
}

.containMoon .infos-section .background {
    width: 58vh;
    top: -16vh;
    left: -16vh;
    position: absolute;
    z-index: 40;
}

.containMoon .infos-section .title {
    font-family: 'space_light', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.containMoon .infos-section .description-moon {
    font-family: 'roboto_regular', sans-serif;
    font-size: 1.3vh;
    line-height: 2vh;
    width: 27vh;
}


/**********************\

     MOON SECTION

/**********************/

.containMoon .planet-moon {
    width: 40vh;
    height: 40vh;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 40px 20px #454646 inset, 0px 0px 50px #454646;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 4;
}


/*** MOON PLANISPHERE ***/

.containMoon .planet-moon .planetM {
    width: 384%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/moon.png') repeat-x;
    background-size: 52%;
    position: absolute;
    z-index: 4;
    animation: slide 20s linear infinite;
    will-change: transform;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-52%);
    }
}


/*** MOON EFFECT DIV BEHIND THE PLANET ***/

.containMoon .planet-moon .planet-for-effectM {
    width: 384%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/moon-inverse.png') repeat-x;
    background-size: 52%;
    filter: blur(3px);
    opacity: 0.75;
    position: absolute;
    z-index: 4;
    animation: slideEffect 20s linear infinite;
    will-change: transform;
}


}
@keyframes slideEffect {
    from {
        transform: translateX(-52%);
    }

    to {
        transform: translateX(0);
    }
}

/*******************************\

    ACTIONS SECTION MOON

/********************************/
.containMoon .action-section {
    width: 32vh;
    height: 10vh;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
    z-index: 40;
}
.containMoon .action-section a {
    display: inline-block;
}
.containMoon .action-section h2 {
    display: inline-block;
    font-family: 'space_regular', sans-serif;
    font-size: 3vh;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -1vh 0 0 0vh;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
}
.containMoon .action-section .planet-name {
    top: 50%;
    left: 50%;
    margin-top: -1vh;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 40;
}

}
.containMoon .action-section .next {
    margin-left: 25%;
}

/*****************************\

      TEXTS SECTION MOON

/******************************/
.containMoon .texts-section-moon {
    max-height: 100vh;
    top: 50%;
    left: 100%;
    transform: translate(-100%,
    -50%);
    position: absolute;
    z-index: 40;
}
.containMoon .title-section {
    font-family: 'space_light',
    sans-serif;
    font-size: 2vh;
}
.containMoon .texts-section-moon p {
    font-family: 'roboto_regular',
    sans-serif;
    font-size: 1.7vh;
    line-height: 22px;
    width: 32vh;
}
.containMoon .texts-section-moon .chevron-description-moon {
    width: 5vh;
    margin-top: 1.2vh;
    position: absolute;
    z-index: 40;
}
.containMoon .mission-section-moon .title-section .mission {
    display: inline-block;
}
.containMoon .rocket-section-moon .title-section .mission {
    display: inline-block;
}
.containMoon .datas-section-moon .title-section .mission {
    display: inline-block;
}
.containMoon .texts-section-moon .datas-section-moon .description-moon .platform-img {
    display: inline-block;
    width: 40px;
}
.containMoon .texts-section-moon .datas-section-moon .description-moon .platform {
    display: inline-block;
}

/***** CONTAIN Mars *****/
.containMars {
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
    position: absolute;
    z-index: 40;
}
.containMars h2 {
    color: #DFDFDF;
    text-transform: uppercase;
    text-shadow: 0 0 1px #A2A2A2;
    margin: 3vh 0 3vh 0;
}
.containMars p {
    color: #DFDFDF;
}

/******************************\
          
      INFOS SECTION MARS

/*******************************/
.containMars .infos-section {
    width: 25vh;
    height: 26vh;
    top: 50%;
    left: 0%;
    margin-left: 10vh;
    transform: translate(0%,
    -50%);
    position: absolute;
    z-index: 40;
}
.containMars .infos-section .background {
    width: 58vh;
    top: -16vh;
    left: -16vh;
    position: absolute;
    z-index: 40;
}
.containMars .infos-section .title {
    font-family: 'space_light',
    sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.containMars .infos-section .description-mars {
    font-family: 'roboto_regular',
    sans-serif;
    font-size: 1.3vh;
    line-height: 2vh;
    width: 27vh;
}

/**********************\

     MARS SECTION

/**********************/
.containMars .planet-mars {
    width: 40vh;
    height: 40vh;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px #ff2400 inset,
    0 0 30px #ff2400;
    transform: translate(-50%,
    -50%);
    position: absolute;
    z-index: 4;
}

/*** MARS PLANISPHERE ***/
.containMars .planet-mars .planet {
    width: 390%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Mars.png') repeat-x;
    background-size: 52%;
    position: absolute;
    z-index: 4;
    animation: slide 20s linear infinite;
    will-change: transform;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-52%);
    }
}

/*** MARS EFFECT DIV BEHIND THE PLANET ***/
.containMars .planet-mars .planet-for-effect {
    width: 390%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/Mars-inverse.png') repeat-x;
    background-size: 52%;
    filter: blur(3px);
    opacity: 0.75;
    position: absolute;
    z-index: 4;
    animation: slideEffect 20s linear infinite;
    will-change: transform;
}
@keyframes slideEffect {
    from {
        transform: translateX(-52%);
    }
    to {
        transform: translateX(0);
    }
}

/*******************************\

    ACTIONS SECTION MARS

/********************************/
.containMars .action-section {
    width: 32vh;
    height: 10vh;
    top: 100%;
    left: 50%;
    transform: translate(-50%,
    -100%);
    position: absolute;
    z-index: 40;
}
.containMars .action-section a {
    display: inline-block;
}
.containMars .action-section h2 {
    display: inline-block;
    font-family: 'space_regular',
    sans-serif;
    font-size: 3vh;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: -1vh 0 0 0vh;
    transform: translate(-50%,
    -50%);
    position: absolute;
    z-index: 40;
}
.containMars .action-section .planet-name {
    top: 50%;
    left: 50%;
    margin-top: -1vh;
    transform: translate(-50%,
    -50%);
    position: absolute;
    z-index: 40;
}
.containMars .action-section .next {
    margin-left: 25%;
}

/*****************************\

      TEXTS SECTION MARS

/******************************/
.containMars .texts-section-mars {
    max-height: 100vh;
    top: 50%;
    left: 100%;
    transform: translate(-100%,
    -50%);
    position: absolute;
    z-index: 40;
}
.containMars .title-section {
    font-family: 'space_light',
    sans-serif;
    font-size: 2vh;
}
.containMars .texts-section-mars p {
    font-family: 'roboto_regular',
    sans-serif;
    font-size: 1.7vh;
    line-height: 22px;
    width: 32vh;
}

/****/
.containMars .texts-section-mars img {
    position: relative;
    margin-left: 5%;
    top: 10px;
    width: 40px;
}

/****/
.containMars .texts-section-mars .chevron-description-mars {
    width: 5vh;
    margin-top: 1.2vh;
    position: absolute;
    z-index: 40;
}
.containMars .mission-section-mars .title-section .mission {
    display: inline-block;
}
.containMars .rocket-section-mars .title-section .mission {
    display: inline-block;
}
.containMars .datas-section-mars .title-section .mission {
    display: inline-block;
}
.containMars .texts-section-mars .datas-section-mars .description-mars .platform-img {
    display: inline-block;
    width: 40px;
}
.containMars .texts-section-mars .datas-section-mars .description-mars .platform {
    display: inline-block;
}

/**********************\

      CLASS FOR JS

/**********************/
.displayNone {
    overflow: hidden;
    height: 0;
    opacity: 0;
}
.displayYes {
    overflow: hidden;
    height: auto;
    opacity: 1;
    transition: opacity 0.75s ease-in;
}